<h1>Relatório do Controle de Pontos</h1>
Olá,<br>
<br>
Segue em anexo o relatório do controle de pontos referente funcionário <%= worker.getFirstname() %> <%= worker.getLastname() %>.<br>
<br>
Att,<br>
Relatório do Controle de Pontos.<br>
